<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0px;
        }
        .container{
            display: flex;
            background-color: #758ECD;
            height: 100vh;
        }
        #calendar{
            width: 50%;
            background-color: transparent;
        }
        #order-display{
            width: 50%;
            background-color: #2F4858;
        }
    </style> 
</head>
<body>
    <div class="container">
        <div id="calendar">
            <input type="date">
        </div>
        <div id="order-display">
            <% all_orders.forEach(order => { %>
                <% let name = order.customer_name %>
                <% let volume = order.volume %> 
                <% let quantity = order.quantity %>
                <li><%= name%> <%= volume%> <%= quantity%></li> 
            <% }); %>
        </div>
    </div>
</body>
</html>